{% extends 'base.html' %}


{% block main %}
<section class="post-detail-title">
    <h2>{{post.title}}</h2><br>
    <small class="d-block text-center text-light">{{post.created_at}}</small>
</section>
<section class="post-content-section" >
    <div class="container" id="post-content">
        {{post.content}}
    </div>
    <div class="d-flex justify-content-around container mt-5">
        <a href="" class="p-2 text-decoration-none"> &blacktriangleright; بعدی
            <h5>مقاله شماره ۳</h5>
        </a>
        
        <a href="" class="p-2 text-decoration-none">قبلی &blacktriangleleft;
            <h5>مقاله شماره ۱</h5>
        </a>
    </div>
</section>
{% endblock main %}