{% extends 'base.html' %}


{% block main %}
<section class="posts-section">
    <h2 class="text-center">مقالات</h2>
    <div class="container pb-5 pt-5">
        <div class="row row-cols-3 text-center m-auto gap-3 justify-content-center">
            <div class="card p-0" style="width: 18rem;">
                <img class="img-fluid card-img-top w-100"
                    src="https://cloudinary-marketing-res.cloudinary.com/images/w_1000,c_scale/v1683223697/Image_Optimize_Increase_Performance/Image_Optimize_Increase_Performance-png?_i=AA"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="./blog_detail.html" class="text-decoration-none">
                        <h5 class="card-title text-end">عنوان</h5>
                    </a>
                    <p class="card-text text-end text-muted">
                        از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان مع.. فرما نشان دهند که
                        قالب ط
                    </p>
                </div>
            </div>
            <div class="card p-0" style="width: 18rem;">
                <img class="img-fluid card-img-top w-100"
                    src="https://cloudinary-marketing-res.cloudinary.com/images/w_1000,c_scale/v1683223697/Image_Optimize_Increase_Performance/Image_Optimize_Increase_Performance-png?_i=AA"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="post-detail.html" class="text-decoration-none">
                        <h5 class="card-title text-end">عنوان</h5>
                    </a>
                    <p class="card-text text-end text-muted">
                        از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان مع.. فرما نشان دهند که
                        قالب ط
                    </p>
                </div>
            </div>
            <div class="card p-0" style="width: 18rem;">
                <img class="img-fluid card-img-top w-100"
                    src="https://cloudinary-marketing-res.cloudinary.com/images/w_1000,c_scale/v1683223697/Image_Optimize_Increase_Performance/Image_Optimize_Increase_Performance-png?_i=AA"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="post-detail.html" class="text-decoration-none">
                        <h5 class="card-title text-end">عنوان</h5>
                    </a>
                    <p class="card-text text-end text-muted">
                        از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان مع.. فرما نشان دهند که
                        قالب ط
                    </p>
                </div>
            </div>
            <div class="card p-0" style="width: 18rem;">
                <img class="img-fluid card-img-top w-100"
                    src="https://cloudinary-marketing-res.cloudinary.com/images/w_1000,c_scale/v1683223697/Image_Optimize_Increase_Performance/Image_Optimize_Increase_Performance-png?_i=AA"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="post-detail.html" class="text-decoration-none">
                        <h5 class="card-title text-end">عنوان</h5>
                    </a>
                    <p class="card-text text-end text-muted">
                        از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان مع.. فرما نشان دهند که
                        قالب ط
                    </p>
                </div>
            </div>
            <div class="card p-0" style="width: 18rem;">
                <img class="img-fluid card-img-top w-100"
                    src="https://cloudinary-marketing-res.cloudinary.com/images/w_1000,c_scale/v1683223697/Image_Optimize_Increase_Performance/Image_Optimize_Increase_Performance-png?_i=AA"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="post-detail.html" class="text-decoration-none">
                        <h5 class="card-title text-end">عنوان</h5>
                    </a>
                    <p class="card-text text-end text-muted">
                        از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان مع.. فرما نشان دهند که
                        قالب ط
                    </p>
                </div>
            </div>
            <div class="card p-0" style="width: 18rem;">
                <img class="img-fluid card-img-top w-100"
                    src="https://cloudinary-marketing-res.cloudinary.com/images/w_1000,c_scale/v1683223697/Image_Optimize_Increase_Performance/Image_Optimize_Increase_Performance-png?_i=AA"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="post-detail.html" class="text-decoration-none">
                        <h5 class="card-title text-end">عنوان</h5>
                    </a>
                    <p class="card-text text-end text-muted">
                        از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان مع.. فرما نشان دهند که
                        قالب ط
                    </p>
                </div>
            </div>
        </div>
        <div class="pagination-container d-flex justify-content-center mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
{% endblock main %}