{% extends 'base.html' %}
{% load static %}

{% block main %}
<!-- intro-section (first section) -->
<section class="intro-section container-fluid">
	<div class="intro-text">
		<h1 class="home-intro-title">
			{{intro_data.intro_title}}
		</h1>
		<p class="the-intro-desc">
			{{intro_data.intro_text}}
		</p>
		<div>
			<a class="btn" href="{% url 'counseling_detail' 1 %}">مشاوره</a>
			<a class="btn" href="{% url 'about' %}">درباره ما</a>
		</div>
	</div>
	<div class="intro-video">
		<video controls>
			<source src="{{intro_data.intro_video.url}}" type="video/mp4">
		</video>
	</div>
</section>
<!-- end intro-section (first section) -->
<!-- services-section (second section) -->
{% include 'components/company_services.html' with services=company_services %}
<!-- end services-section (second section) -->
<!-- why-us-section (third section) -->
{% include 'components/company_attributes.html' with attrs=company_attrs %}
<!-- end why-us-section (third section) -->
<!-- bold-customers-section (fourth section) -->
{% include 'components/bold_customers.html' with bold_customers=bold_customers %}
<!-- end customers-section (fourth section) -->

{% endblock main %}